@charset "utf-8";

.dl-login-tip-layer.layui-layer {
    border-radius: 6px;
    box-shadow: 0 0 10px #b0b0b0;
    .layui-layer-title {
        border-radius: 6px 6px 0 0;
    }
    .text {
        margin: 60px 0;
        font-size: 18px;
        text-align: center;
    }
}

.dl__layer.layui-layer {
    border-radius: 3px;
    .layui-layer-title {
        border-bottom: 0;
        height: 44px;
        line-height: 44px;
        background-color: #fff;
    }
    &.tip__layer {
        .layui-layer-content {
            padding: 40px;
            line-height: 24px;
            height: auto !important;
            font-size: 16px;
            color: #303F3F;
        }
        .layui-layer-btn {
            padding: 0 0 40px;
            .layui-layer-btn0 {
                border-color: #ff6700;
                width: 144px;
                height: 44px;
                line-height: 44px;
                font-size: 16px;
                background-color: #ff6700;
            }
        }
    }
    // 银行限额列表弹窗
    &.bank-list-layer {
        .layui-layer-content {
            padding: 0 26px;
        }
        .bank-trade-lists {
            height: 490px;
            overflow-x: hidden;
            overflow-y: auto;
            .bank-trade-list {
                padding: 22px 0;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                .left {
                    float: left;
                    width: 90px;
                    text-align: center;
                }
                .right {
                    float: left;
                    .name {
                        line-height: 24px;
                        font-size: 16px;
                        color: #141414;
                    }
                    .text {
                        line-height: 28px;
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
        }
    }
    // 存管开通提醒弹窗
    &.bank-tip-layer {
        .layui-layer-content {
            height: auto !important;
            padding: 30px 52px 0;
            text-align: center;
            .tit {
                margin: 22px 0;
                font-size: 24px;
                color: #ff6700;
            }
            .cont {
                line-height: 24px;
                font-size: 14px;
                color: #666;
            }
            .bank-list {
                margin: 20px 0;
                font-size: 12px;
                line-height: 24px;
                color: #666;
                .bank-tit {
                    color: #f00;
                }
            }
        }
        .layui-layer-btn {
            padding: 40px 0;
            .layui-layer-btn0 {
                border-radius: 3px;
                border-color: #ff6700;
                width: 240px;
                height: 52px;
                line-height: 52px;
                text-align: center;
                font-size: 18px;
                background-color: #ff6700;
            }
        }
    }
    // 银行转账弹窗
    &.bank-transfer-info-layer {
        .layui-layer-content {
            overflow: hidden;
        }
    }
    &.repay-detail-layer {
        .layui-layer-content {
            padding: 42px 40px 0;
            .now-repay-total {
                text-align: center;
            }
            .repay-tit {
                margin-bottom: 4px;
                color: #c5c5c5;
            }
            .repay-cont {
                line-height: 38px;
                font-size: 16px;
                color: #111;
                .repay-money {
                    font-size: 28px;
                }
            }
            .detail-wrapper {
                margin-top: 24px;
            }
            .detail-tit {
                color: #999;
            }
            .user-money {
                margin-top: 20px;
                line-height: 24px;
                color: #999;
                a {
                    margin-left: 10px;
                    color: #6497FF;
                }
            }
        }
        .layui-layer-btn0 {
            border-color: #ff6700;
            width: 224px;
            height: 44px;
            line-height: 44px;
            font-size: 16px;
            background-color: #ff6700;
        }
    }
    &.close-balance-layer {
        .layui-layer-content {
            padding: 40px 42px;
            font-size: 16px;
            color: #303f3f;
            line-height: 24px;
        }
        .layui-layer-btn {
            padding: 0 0 40px;
            .layui-layer-btn0 {
                width: 143px;
                height: 44px;
                line-height: 44px;
                background-color: #f60;
                border-color: #f60;
                font-size: 16px;
                margin: 0 20px 0 0;
            }
            .layui-layer-btn1 {
                width: 140px;
                height: 44px;
                line-height: 44px;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    &.back-plan-layer {
        .layui-layer-content {
            padding: 20px;
            .pay-back-info {
                font-size: 16px;
                color: #333;
                span {
                    margin-right: 30px;
                }
            }
            .pay-back-tip {
                line-height: 20px;
                color: #333;
            }
            .layui-table td, .layui-table th {
                padding: 9px 0;
                text-align: center;
            }
        }
    }
    &.share-msg-layer {
        .layui-layer-content {
            padding: 0;
        }
        .send-tit {
            margin-bottom: 30px;
            text-align: center;
            color: #454545;
        }
        .send-cont {
            text-align: center;
            line-height: 180%;
            font-size: 12px;
            color: #666666;
        }
        .send-msg-form {
            margin: 20px 0;
        }
        .send-input {
            display: inline-block;
            vertical-align: top;
            margin: 0 20px 0 30px;
            padding: 0 10px;
            border: 1px solid #e5e5e5;
            width: 222px;
            height: 40px;
            line-height: 40px;
        }
        .send-btn {
            display: inline-block;
            vertical-align: top;
            height: 40px;
            line-height: 40px;
            width: 170px;
            text-align: center;
            color: #fff;
            background-color: rgb(255, 103, 0);
            border: 1px solid rgb(255, 103, 0);
            cursor: pointer;
        }
        .send-tips {
            margin-left: 30px;
            font-size: 12px;
            color: #8f8f8f;
        }
    }
    &.loan-protocol-layer {
        .layui-layer-content {
            padding: 54px 40px;
            .protocol-table {
                margin: 0;
                text-align: center;
            }
            .layui-table th {
                text-align: center;
                color: #999;
            }
            .layui-table td {
                color: #333;
            }
            .check-protocol {
                color: #6497FF;
            }
        }
    }
    // 风险测评弹窗
    &.risk-tip-layer {
        .layui-layer-content {
            padding: 40px 42px;
            height: auto !important;
            line-height: 24px;
            font-size: 16px;
            color: #303f3f;
        }
        &.risk-tip02-layer {
            .layui-layer-btn {
                padding: 0;
                margin-bottom: 40px;
                .layui-layer-btn0 {
                    margin: 0;
                    padding: 0 40px;
                    border-color: #ff6700;
                    height: 44px;
                    line-height: 44px;
                    font-size: 16px;
                    background-color: #ff6700;
                    &:hover {
                        color: #fff !important;
                    }
                }
            }
        }
        &.risk-tip03-layer {
            .layui-layer-content {
                padding-bottom: 60px;
            }
        }
    }
    // 风险测评
    &.risk-layer {
        height: auto !important;
        .layui-layer-title {
            font-size: 16px;
        }
        .layui-layer-content {
            padding: 58px 38px 60px 38px;
        }
    }
    &.risk-result-layer {
        height: auto !important;
        .layui-layer-title {
            font-size: 16px;
        }
        .layui-layer-content {
            padding: 80px 38px 56px;
        }
        .risk-result {
            .result-icon {
                position: relative;
                margin: 0 auto;
                width: 180px;
                height: 180px;
                background: url("#{$userUrl}risk-icon.png") center no-repeat;
                .result-icon-text {
                    position: absolute;
                    top: -12px;
                    right: -125px;
                    width: 173px;
                    height: 55px;
                    text-align: center;
                    line-height: 46px;
                    font-size: 18px;
                    color: #757575;
                    background: url("#{$userUrl}risk-icon-tip.png") center no-repeat;
                }
            }
            .result-text {
                margin: 52px 0 36px;
                text-align: center;
                font-size: 24px;
                color: #000;
            }
            .result-desc {
                margin-bottom: 32px;
                line-height: 24px;
                font-size: 16px;
                color: #333;
            }
            .result-info-lists {
                .result-info-item {
                    border-bottom: 1px solid #e5e5e5;
                    height: 49px;
                    line-height: 49px;
                    &:last-child {
                        border-bottom: 0;
                    }
                    .result-info-tit {
                        float: left;
                        font-size: 16px;
                        color: #333;
                    }
                    .result-info-text {
                        float: right;
                        font-size: 16px;
                        color: #000;
                    }
                }
            }
            .result-tip {
                margin-top: 28px;
                margin-bottom: 55px;
                font-size: 14px;
                color: #c4c4c4;
            }
            .result-btn-wrapper {
                text-align: center;
                font-size: 0;
                .result-btn {
                    display: inline-block;
                    border-radius: 3px;
                    border: 1px solid #f60;
                    width: 163px;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                    &.result-btn--sure {
                        margin-right: 20px;
                        color: #fff;
                        background-color: #f60;
                    }
                    &.result-btn--reset {
                        border-color: #e5e5e5;
                        color: #f60;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    /*
     * 存管相关弹窗
     */
    &.bank__layer {
        .layui-layer-title {
            font-size: 16px;
            background: #f2f2f2;
            border-bottom: 1px solid #e5e5e5;
        }
        .layui-layer-content {
            height: auto !important;
        }
        &.bank-tips-layer {
            .layui-layer-content {
                padding-top: 74px;
                padding-bottom: 32px;
                text-align: center;
                line-height: 30px;
                font-size: 18px;
                color: #555;
                .icon {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    background: url("#{$iconUrl}pop_tip_icon.png") center no-repeat;
                }
            }
            .layui-layer-btn {
                .layui-layer-btn0 {
                    border-color: #ff6700;
                    width: 120px;
                    height: 38px;
                    line-height: 38px;
                    background-color: #ff6700;
                }
            }
        }
        &.save-card-layer {
            .layui-layer-content {
                padding: 40px 42px 24px;
                .savecard-tit {
                    margin-bottom: 24px;
                    text-align: center;
                    font-size: 18px;
                    color: #555;
                }
                .savecard-text {
                    line-height: 24px;
                    color: #666;
                }
            }
            .layui-layer-btn {
                padding: 0;
                .layui-layer-btn0 {
                    width: 132px;
                    height: 44px;
                    line-height: 44px;
                    border-color: #ff6700;
                    color: #333;
                    background-color: #fff;
                }
                .layui-layer-btn1 {
                    width: 132px;
                    height: 44px;
                    line-height: 44px;
                    border-color: #ff6700;
                    color: #fff;
                    background-color: #ff6700;
                }
            }
        }
        &.upload-layer {
            .layui-layer-content {
                padding-top: 35px;
                .success-icon {
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    margin: 0 auto;
                    background: #90cd98 url('#{$iconUrl}success_icon.png') center no-repeat;
                }
                .upload-tit {
                    margin-top: 25px;
                    text-align: center;
                    font-size: 18px;
                    color: #555;
                }
                .tip-text {
                    margin: 10px 0;
                    text-align: center;
                    font-size: 12px;
                    color: #8f8f8f;
                }
                .upload-text {
                    padding-left: 100px;
                    line-height: 24px;
                    color: #666;
                }
            }
            .layui-layer-btn {
                padding-top: 34px;
                .layui-layer-btn0 {
                    width: 120px;
                    border-color: #ff6700;
                    height: 38px;
                    line-height: 38px;
                    background-color: #ff6700;
                }
            }
        }
        &.sign-layer {
            .layui-layer-content {
                padding: 74px 28px 40px;
                .text {
                    line-height: 20px;
                    font-size: 14px;
                    color: #555;
                    a {
                        color: #4a9df4;
                    }
                }
            }
            .layui-layer-btn {
                padding: 0;
                .layui-layer-btn0 {
                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    color: #fff;
                    background-color: #ff6700;
                    border-radius: 3px;
                    border: none;
                }
            }
        }
    }
}

// 风险测评
.risk-content {
    .risk-question-lists {
        margin-bottom: 20px;
        .risk-question-item {
            display: none;
            .risk-question-tit {
                margin-bottom: 50px;
                // height: 110px;
                line-height: 40px;
                font-size: 24px;
                color: #000;
            }
            .risk-row {
                padding: 6px 0;
                .layui-form-radio {
                    margin: 0;
                    padding: 0;
                    .layui-icon {
                        float: left;
                        display: block;
                        font-size: 16px;
                        color: #e5e5e5;
                        &.layui-anim-scaleSpring {
                            color: #f60;
                        }
                    }
                    div {
                        display: block;
                        margin-left: 26px;
                        line-height: 28px;
                        font-size: 18px;
                        color: #333;
                    }
                }
            }
        }
    }
    .btn-wrapper {
        .risk-btn {
            display: block;
            border-radius: 3px;
            border: 1px solid #f60;
            width: 163px;
            height: 44px;
            line-height: 44px;
            font-size: 18px;
            color: #fff;
            background-color: #f60;
            cursor: pointer;
            &.risk-btn--disabled {
                border: 1px solid #e5e5e5;
                background-color: #fff;
                color: #444;
            }
        }
    }
}

// 余额复投规则
.balance-rule-layer.layui-layer {
    .layui-layer-title {
        border-bottom: 0;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        background-color: #fff;
    }
    .layui-layer-content {
        padding: 38px 40px 38px 34px;
        .rule-contanier {
            margin-bottom: 24px;
        }
        .rule-tit, .rule-text {
            line-height: 24px;
            font-size: 14px;
            color: #666;
        }
        .rule-tit {
            font-weight: bold;
        }
    }
}

.transfer-standard.layui-layer {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.transfer-standard.layui-layer .layui-layer-title {
    background: #fff;
    border-bottom: 0;
}

.transfer-standard.layui-layer .transfer-standard-form {
    margin-top: 20px;
    padding-left: 46px;
    padding-right: 46px;
}

.transfer-standard.layui-layer .transfer-standard-form dl {
    margin-bottom: 16px;
    height: 40px;
    line-height: 40px;
}

.transfer-standard.layui-layer .transfer-standard-form dt {
    float: left;
    width: 130px;
    font-size: 14px;
    color: #666;
}

.transfer-standard.layui-layer .transfer-standard-form dd {
    float: left;
}

.transfer-standard.layui-layer .transfer-standard-form dd.transfer-money {
    color: #f60;
    font-size: 24px;
}

.transfer-standard.layui-layer .transfer-standard-form dd.select {
    width: 299px;
    height: 40px;
    border: 1px solid #e5e5e5;
}

.transfer-standard.layui-layer .transfer-standard-form dd.select select {
    border: 0;
    width: 294px;
    height: 36px;
    padding-left: 13px;
    font-size: 14px;
}

.transfer-standard.layui-layer .transfer-standard-form dd input {
    padding-left: 17px;
    width: 280px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #222;
    background: #fff;
}

.transfer-standard.layui-layer .transfer-standard-form dd .forgot-pass {
    margin-left: 14px;
    font-size: 14px;
    color: #999;
}


.transfer-standard.layui-layer .transfer-standard-form .tip {
    margin-left: 134px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #555;
}

.transfer-standard.layui-layer .transfer-standard-form .xy {
    margin-left: 134px;
    font-size: 12px;
    color: #555;
}

.transfer-standard.layui-layer .transfer-standard-form .xy .checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 10px;
    background: url("#{$imgUrl}pro-ico-cl.png") no-repeat center;
}

.transfer-standard.layui-layer .transfer-standard-form .xy .checkbox.checked {
    background: url("#{$imgUrl}pro-ico.png") no-repeat center;
}

.transfer-standard.layui-layer .transfer-standard-form .xy a {
    font-size: 12px;
    color: #f60;
}

.transfer-standard.layui-layer .transfer-standard-form .button-box {
    font-size: 0;
    margin-left: 134px;
    margin-top: 28px;
}

.transfer-standard.layui-layer .transfer-standard-form .button-box .btn {
    display: inline-block;
    width: 146px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.11);
    border-radius: 2px;
}

.transfer-standard.layui-layer .transfer-standard-form .button-box .btn.sure-btn {
    margin-right: 20px;
    background-color: #ff6700;
    color: #fff;
}

.transfer-standard.layui-layer .transfer-standard-form .button-box .btn.cancel-btn {
    background-color: #fff;
    color: #333;
}

.layui-layer-hui .layui-layer-content {
    color: #fff;
}

.back-money.layui-layer .content .top {
    padding: 20px 20px 0;
}

.back-money.layui-layer .content .top .cont {
    float: left;
    margin-right: 30px;
}

.back-money.layui-layer .content .top .cont span {
    font-size: 16px;
}

.back-money.layui-layer .content .table-box {
    padding: 20px;
    height: 334px;
    overflow-y: auto;
}

.back-money.layui-layer .content .table-box table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
}